* {
  /* border: 1px solid red; */
}
html {
  --col-red    : #e41a1c;
  --col-blue   : #377eb8;
  --col-green  : #4daf4a;
  --col-violet : #984ea3;
  --col-orange : #ff7f00;
  --col-brown  : #a65628;
  --col-pink   : #f781bf;
  --col-grey   : #999999;
  --col-background: #f8f2ef;
  --col-sky-blue  :#e8f0f7;
  --col-sand      :#feebd7;
  --radius: 6px;
  --body-width : 90%;
  --center-width: 40em;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: var(--col-background);
}
img {
  max-width: 100%;
}
p {
  font-size: 15px;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  width: var(--body-width);
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
  background-color: var(--col-sky-blue);
  border: 2px solid var(--col-blue);
  border-radius: var(--radius);
  color: var(--col-blue);
  margin: 0.5em 0 0 0;
  /* font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}
#title{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  margin: auto;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center;
  font-size: large;
  /* font-weight: */
}
nav a {
  color: var(--col-blue);
  padding: 0 0.5em; 
  background-color: var(--sky-blue);
  text-decoration: none;
}
nav a:hover, nav a:focus, nav a:active {
  color: var(--col-violet);
  text-decoration-line: underline;
}
.three-columns {
  display: flex;
  justify-content: space-between;
  padding: 1em 0; 
}

.center-column {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border: 2px solid var(--col-grey);
  border-radius: var(--radius);
  padding: 0.5em;
  width: var(--center-width);
  margin:1em 1em 1em auto;
}
.right-column {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border: 2px solid var(--red);
  border-radius: var(--radius);
  padding: 0.5em;
  width: calc( (var(--body-width) - var(--center-width))/2 );
  /* width: 10em; */
  margin: 1em 0 1em 1em;
}
#footer-column {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--col-brown);
  border-radius: var(--radius);
  padding: 0.5em;
  width: var(--body-width);
  margin:1em auto;
}
#footer-column p {
  text-align: center;
  margin:0;
  padding: 0.2em;
  font-style: italic;
  font-size: 16px;  
}

.red-box {
  background-color: var(--col-sand);
  border: 2px solid var(--col-red);
  border-radius: var(--radius);
  margin: 0 1em 0 0;
  padding: 0.5em;
}
.green-box {
  background-color: var(--col-sand);
  border: 2px solid var(--col-green);
  border-radius: var(--radius);
  margin: 0 1em 0 0;
  padding: 0.5em;
}
.orange-box {
  background-color: var(--col-sand);
  border: 2px solid var(--col-orange);
  border-radius: var(--radius);
  padding: 0.5em;
}
.violet-box {
  background-color: var(--col-sand);
  border: 2px solid var(--col-violet);
  border-radius: var(--radius);
  margin: 0 0 0 1em;
  padding: 0.5em;
}