#home {
  color: var(--col-violet);
}
#three-parts {
  display: flex;
  justify-content: space-between;
  padding: 1em 0; 
}
#green-box {
  background-color: var(--col-sand);
  border: 2px solid var(--col-green);
  border-radius: var(--radius);
  margin: 0 1em 0 0;
  padding: 0.5em;
}
h2 {
  margin: 0;
  font-weight: normal;
}
p {
  margin: 0.5em 0 0 0;
}
#orange-box {
  background-color: var(--col-sand);
  border: 2px solid var(--col-orange);
  border-radius: var(--radius);
  padding: 0.5em;
}
#violet-box {
  background-color: var(--col-sand);
  border: 2px solid var(--col-violet);
  border-radius: var(--radius);
  margin: 0 0 0 1em;
  padding: 0.5em;
}
#grey-box {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border: 2px solid var(--col-grey);
  border-radius: var(--radius);
  padding: 0.5em;
  width: 40em;
  margin:auto;
}
#brown-box {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--col-brown);
  border-radius: var(--radius);
  padding: 0.5em;
  width: 40em;
  margin:1em auto;
}
#brown-box p {
  text-align: center;
  margin:0;
  padding: 0.2em;
  font-style: italic;
  font-size: 16px;  
}