.my-full-width {
	width:100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
.my-center-content {
	width:100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
}
@media screen and (min-width: 1250px) {
	.my-full-width {
		width:1200px !important;
		margin-left:auto !important;
		margin-right:auto !important;
	}
}
@media screen and (min-width: 800px) {
	.my-center-content {
		width:745px !important;
		margin-left:auto !important;
		margin-right:auto !important;
	}
}


a:link, a:visited {
	color:#377eb8 !important;
	text-decoration:none !important;
}
a:hover, a:active {
	color:#984ea3 !important;
	text-decoration:none !important;
}
img { 
    display: block;
    margin: auto;
		max-width: 100%;
}
div#my_toc ul {
  margin: 0 0 0 0.5em;
  padding: 0 0 0 0.5em;
}
div#my_toc li {
  font-size:  1.0rem;
  list-style-type: none;
}
h1, h2 {
	font-size: 2.0rem;
}
.my_about>h2 {
	margin-top:0;	
	margin-bottom:-0.2em;	
}
p, ul {
  font-size: 1.0rem;
}
pre {
  font-size: 0.8rem;
	color: black;
  line-height: 1.4;
	padding: .6rem .6rem;
	margin: 1rem;
	display: block;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
  overflow: hidden; !important
}
p code {
  font-size: 0.8rem;
	padding: .1rem .1rem;
	margin: 0 .2rem;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
table {
  font-size: 0.85rem;
  line-height: 1.4;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-collapse: collapse;
	width: 100%; 
	overflow: auto; 
	break-inside: auto; 
	text-align: left;
}
th {
  text-align: left;
	background-color: #FEEBD7;
}
th, td {
  padding: 0.5rem 0 0.5rem 0;
}
tr:nth-child(odd) {
	background-color: White;
}
tr:nth-child(even) {
	background-color: #FEEBD7;
}
thead { 
	display: table-header-group; 
}
table.md-table td { min-width: 32px; }
figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}


